*{

box-sizing:content-box;
font-family:Arial,sans-serif;

}



body{

margin:0;

background:#26497c;

color:#1a1919;

}



/* LOGIN */


.login-container{

width:100%;

max-width:450px;

background:white;

margin:auto;

margin-top:80px;

padding:30px;

border-radius:25px;

text-align:center;

box-shadow:0 10px 30px #ccc;

}


.logo{

width:120px;

}



input{


width:85%;

padding:15px;

margin:8px 0;

border-radius:12px;

border:1px solid #ccc;

font-size:16px;

}



button{


border:none;

border-radius:20px;

padding:15px;

background:#0b0eac;

color:white;

font-size:16px;

cursor:pointer;

}





/* APP */


#app-view{

display:none;

padding-bottom:90px;

}





header{

display:flex;

align-items:center;

justify-content:space-between;

padding:20px;

}


.mini-logo{

width:50px;

}


.notificacion{

font-size:25px;

}







/* TARJETAS */


.principal-card{


background:#0f0ccf;

margin:15px;

padding:25px;

border-radius:30px;

text-align:center;

}


.principal-card h1{

font-size:60px;

margin:0;

color:#e0dddd;

}




.progress{

height:15px;

background:#e2e2e7;

border-radius:20px;

overflow:hidden;

}


.progress-bar{

height:100%;

width:48%;

background:#dddddd;

}





.card{


background:white;

margin:15px;

padding:20px;

border-radius:30px;


}



.green-card{


background:#0515ac;

color:white;

margin:15px;

padding:25px;

border-radius:30px;

}





/* GRAFICO */


.grafico{

height:120px;

display:flex;

align-items:end;

justify-content:space-around;

}


.grafico div{

width:20px;

background:#ce1a1a;

height:30px;

border-radius:10px;

}



.grafico div:nth-child(3){

height:80px;

}


.grafico div:nth-child(6){

height:100px;

}






.reto{


background:white;

color:white;

padding:20px;

border-radius:25px;

}







/* MENU */


nav{


position:fixed;

bottom:0;

left:0;

width:100%;

background:white;

display:flex;

justify-content:space-around;

padding:10px;

}



nav button{

background:none;

color:#f0eded;

padding:5px;

font-size:14px;

}






/* MODAL */


#modal-overlay{


display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgb(250, 248, 248);

align-items:center;

justify-content:center;

}



#modal-box{


background:white;

padding:25px;

border-radius:25px;

width:90%;

max-width:400px;

}







/* separar botontes y alinearlos unoal lado del otro */
.btn-espacio {
    margin-right: 15px; /* Separa el botón de su vecino derecho */
  }


  .contenedor-botones {
    display: flex;
    flex-wrap: wrap;       /* Permite que los botones bajen si no entran en la línea */
    gap: 15px;             /* Añade 15px de espacio exacto tanto a los lados como ABAJO */
    justify-content: center; /* Opcional: centra los botones en la pantalla */
  }

